<!DOCTYPE html>
<html>
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Emotion Recognition</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/css.css">
<link rel="stylesheet" href="../static/font-awesome.min.css">
<link rel="stylesheet" href="../static/table-column-styles.css">
<link rel="stylesheet" href="../static/pic.css">
<link rel="stylesheet" href="../static/scroll.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 125px}
@media only screen and (max-width: 600px) { #main {margin-left: 5px}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="../static/images/logo.jpg" style="width:100%">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Video</p>
  </a>
  <a href="evaluation.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-database w3-xxlarge"></i>
    <p>Evaluation</p>
  </a>
  <a href="database.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-history w3-xxlarge"></i>
    <p>Logs</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="index.html" class="w3-bar-item w3-button" style="width:25% !important">Video</a>
    <a href="evaluation.html" class="w3-bar-item w3-button" style="width:30% !important">Evaluation</a>
    <a href="database.html" class="w3-bar-item w3-button" style="width:25% !important">Logs</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
<!-- Header/Home -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
	<table style="width:80%">
		<tr>
			<th><h1 class="w3-jumbo"><span class="w3-hide-small">Video</span></h1></th>
		</tr>
		<tr>
			<td><img id="myImg" src="{{ url_for('video_feed1') }}" alt="Be" class="w3-image" width="100%"></td>
		</tr>
	</table>
</header>
<!-- END PAGE CONTENT -->
</div>

<!-- Footer -->
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge" id="main">
	<p class="w3-small">Made for: 2019 autumn BME Deep Learning in practise subject.</a></p>
	<p class="w3-small">Made by: Gaják Tibor, Kerekes Ákos, Hannos Attila</a></p>
<!-- End footer -->
</footer>

</body>
</html>
