<!DOCTYPE html>
<html>
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
<title>Emotion recognition</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Refresh" content="5;url=index.html">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/css.css">
<link rel="stylesheet" href="../static/font-awesome.min.css">
<link rel="stylesheet" href="../static/wbackground.css">
<body>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
   <h1 class="welcome">Welcome!</h1>
	
  

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
